/*تنسيق القائمه الرئيسيه*/

#menu {
 height: 60px;
 width: 100%;
 background-color: #253342;
 color: white;
    position: fixed;
}

#logo {
   float: left;
    line-height: 60px;
    padding-left: 20px;
    
    
}
.menu-all .menu-item {
    float:right;
    padding: 10px;
    list-style-type:none;
    line-height:40px;
}
.menu-all .menu-item:hover{
    background-color:#6aa4b8;
    
}